#blog-entries{
    padding-top: 100px;
    position: relative;
    .blog-entry{
        .blog_entry_header{
            display: flex;
            justify-content: space-between;
            h2{
                font-size: 2.5em;
                font-weight: bold;
                margin-bottom: 40px;
            }
            .blog_entry_info{
                display: flex;
                align-items: center;
                >div{
                    font-size: 1em;
                    margin-left: 15px;
                }
            }
        }
        margin-top: 100%;
        padding-bottom: 50px;
        border-bottom: 1px solid black;
        margin-bottom: 70px;

    }
}