#foto-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 20px;
    margin-top: 50px;
    justify-content: space-around;
    >div{
        width: 350px;
        height: auto;
        margin: 10px;
        cursor: pointer;
        cursor: hand;
        >img{
            border-radius: 5px;
            width: 350px;
            opacity: 0;

        }
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed; /* Stay in place */
        z-index: 3; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        opacity: 0;
        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            height: 90%;
            width: auto;
            max-width: 90%;
        }
    }



}

#loadImages{
    width: 92%;
    background: white;
    padding: 10px;
    text-align: center;
    .box-shadow( 0px 0px 20px 0px rgba(0,0,0,0.5));
    margin: 40px 4%;
    font-size: 21px;
    font-weight: bold;
}

