#landing-page-background {
    width: 100%;
    height: 100%;

    position: fixed;
    .blackshit {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        z-index: 2;

        position: absolute;
        top: 0;
    }
    .landing-page-image {

        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .site-branding {
        position: absolute;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 30%;
        z-index: 3;
        @media (max-height: 600px){
            top: 10%;
        }
        .site-branding-text{
            opacity: 0;
            margin-bottom: 200px;
            padding-bottom: 60px;
            display: flex;

            align-items: center;
            border-bottom: 1px white solid;


            >a> img {
                width: 240px;
                height: 240px;
                border-radius: 120px;
            }
            > div {

                margin-left: 50px;
                display: flex;
                flex-direction: column;
                color: white;
                h1{
                    font-size: 300%;
                    font-weight: bold;
                    margin-bottom: 0;
                }
                p{
                    font-size: 200%;
                }
            }

        }

        h1{
            a{
                color: white;
            }
        }

    }

    #downButton{
        bottom: 50px;

        position: absolute;
        left: 50%;
        z-index: 2;
        >i{
            left: -50%;
            font-size: 300%;
            color: white;
            position: relative;
        }
    }
}

