
#home {
    background: #f5f8fa;
    top: 100%;
    width: 100%;
    position: absolute;
    .landingPage-container {
        background: magenta;
        position: fixed;
        height: auto;
        left: 50%;
        width: auto;
        top: 50%;
        padding-bottom: 1px;
    }

    .container {

        padding-bottom: 20px;
        padding-top: 20px;
        > div {
            opacity: 0;
            margin-bottom: 120px;
            > a {
                margin-top: 30px;
                color: black;
                font-size: 18px;
                font-weight: bold;
                background: #ECECEC;

                .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.5));
                border-radius: 2px;
                -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
                -moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
                -o-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
                transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
                padding: 10px 20px;

                &:hover {
                    background: #CBCBCB;
                    border-radius: 2px;
                    text-decoration: none;
                }

                i {
                    margin-right: 15px;
                }
            }

            #cv {
                >a {
                    margin-top: 50px;
                }
            }

        }

        .cv-teaser-container {

            .content {
                display: flex;

                justify-content: space-between;
                align-items: center;
                margin-bottom: 50px;

                > div {
                    flex-grow: 1;
                    flex-basis: 0;
                }
                .coreskills {

                    padding-left: 3px;
                    margin-left: 20px;
                    flex-grow: 1;
                    > div {
                        background: #EEEEEE;
                        margin-bottom: 15px;
                        width: 100%;

                        border-radius: 10px;
                        .warp {

                            font-weight: bolder;
                            color: white;
                            border-radius: 5px;
                            width: 50%;
                            padding: 5px;
                            margin-bottom: 5px;
                            i {
                                margin-right: 10px;
                            }
                        }
                    }

                }

                &:nth-of-type(even) {
                    > div {
                        order: 2;
                    }
                    .coreskills {
                        order: 1;
                        position: relative;

                        margin-right: 20px;
                        display: flex;
                        flex-direction: column;
                        text-align: right;
                        > div {
                            width: 100%;
                            > div {
                                float: right;
                            }
                        }
                    }
                }
            }

        }
        .foto-teaser {
            h1 {
                margin-bottom: 0;
            }
            > div {
                display: flex;

                padding: 4%;
                > div {
                    height: auto;
                    width: auto;
                    margin: 10px;
                    img {
                        border-radius: 2px;
                    }
                }
            }
        }

        .video-teaser {
            h1 {
                margin-bottom: 0;
            }
            a {
                display: none;
            }

            .yl-wrapper {
                padding: 1%;
            }
        }

        .social-container {
            display: flex;
            flex-wrap: wrap;

            .news-home {
                width: 100%;
                > div {
                    display: flex;

                    align-items: center;
                    justify-content: space-between;
                }
            }

        }

    }
}

