

#home-nav{
    width: 80%;
    position: absolute;
    bottom: -60px;
    z-index: 2;
    .menu-homenav-container{
        ul{
            display: flex;
            justify-content: space-between;
            padding: 0;
            >li{
                margin: 10px 0;
                padding: 0 10px;
                width: 100%;
                text-align: center;
                list-style-type: none;
                display: flex;
                flex-direction: column;

                >a{
                    color: white;
                    font-size: 200%;
                    opacity: 0;
                    top: -50px;
                    width: 100%;
                    position: relative;
                    text-transform: uppercase;

                    &:after{
                        content: '';
                        width: 0%;
                        margin-left: 50%;
                        height: 5px;
                        background: dodgerblue;
                        display: block;
                        -webkit-transition: width 1s ease-in-out, margin-left 1s ease-in-out;
                        -moz-transition: width 1s ease-in-out, margin-left 1s ease-in-out;
                        -o-transition: width 1s ease-in-out, margin-left 1s ease-in-out;
                        transition: width 1s ease-in-out, margin-left 1s ease-in-out;

                    }
                    &:hover{
                        text-decoration: none;
                        &:after{
                            content: '';
                            width: 80%;
                            height: 5px;
                            background: dodgerblue;
                            display: block;
                            margin-left: 10%;
                        }

                    }

                }
            }

            >li:first-child{
                 border-left: none;
             }
        }

    }
}


#default-nav{
    background: white;
    width: 100%;
    .box-shadow( 0px 5px 20px 0px rgba(0,0,0,0.5));
    z-index: 2;
    position: fixed;
    top: 0;
    .menu-nav-container{
        >ul{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;


            >li{
                list-style: none;
                margin-left: 10px;
                padding: 15px;
                a{
                    color: black;
                    font-size: 18px;
                    font-weight: bold;

                    border-radius: 5px;
                    -webkit-transition: background 0.8s ease-in-out, color 0.3s ease-in-out;
                    -moz-transition: background 0.8s ease-in-out, color 0.3s ease-in-out;
                    -o-transition: background 0.8s ease-in-out, color 0.3s ease-in-out;
                    transition: background 0.8s ease-in-out, color 0.3s ease-in-out;
                    padding: 10px 20px;

                    &:hover{
                        background: #CBCBCB;
                        border-radius: 5px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
