/*
Style

*/
@import "bootstrap/bootstrap.less";
@import "awesomefont/font-awesome.less";
@import "home.less";
@import "header.less";
@import "footer.less";
@import "navigation.less";
@import "fotos.less";
@import "blog.less";


body{
    background: #f5f8fa;
    margin: 0;
    p{
        font-size: 1.5em;
        text-align: justify;
    }
    h1{
        font-size: 3em;
        font-weight: bold;
        margin-top: 100px;
        margin-bottom: 50px;
        @media (max-width: @screen-sm){
            margin-top: 30px;
        }
    }
    h2{
        font-size: 2em;
        font-weight: bold;
    }
}


#site{
    .intro{

        margin-top: 150px;
    }
}


//